*,
*::before,
*::after{
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 1.6;
}

img{
    max-width: auto;
    display: block;
}

h1, h2, h3, p {
    margin: 0;
} 
