*,
*::before,
*::after{
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 1.6;
}

img{
    // width: 25%;
    max-width: 100%;
    display: block;
}

h1, h2, h3, p {
    margin: 0;
} 

.container{
    width: 85%;
    max-width: 65em;
    margin: 0 auto;
}

.split {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    justify-content: center;
  
    &>* {
      flex-basis: 30%;
      min-width: 15em;
    }
  }

.spacing > * + * {
    margin-top: var(--spacer, 2rem);
    
}

.btn{
    display: inline-block;
    text-decoration: none;
    color: var(--clr-text, #fff);
    text-transform: uppercase;
    font-size: 1.125rem;
    font-weight: 700;
    padding: .5em 1.25em;
    background: var(--clr-accent, blue);
    border-radius: .25em;
    transition: transform 250ms ease-in-out,
                opacity 250ms linear;
    
}

.btn:hover, .btn:focus{
    transform: scale(1.1);
    opacity: .9;
}

.primary-title {
    // font-size: 4rem;
    font-size: clamp(3rem, calc(5vw + 1rem), 4.5rem);
    line-height: 1.1;
    text-transform: uppercase;
}

.section-title {
    text-align: center;
    font-size: clamp(2.5rem, calc(5vw + 1rem), 4rem);
    line-height: 1;
    color: #17353d;

}

section {
    padding: 7em 0;
}

.hero{
    color: white;
    text-align: center;
    padding: 15em 0;
    background: #222;

    @supports (background-blend-mode: multiply){
        background: url(img/shoe-3.png),
                    radial-gradient(#444, #111);
        background-blend-mode: multiply;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center center;

    }
}
